<ion-content>
  <ion-list>
    <ion-item-sliding *ngFor="let unassignedTodo of unassignedTodos">
      <button ion-item (click)="openUnAssignedTodo(unassignedTodo)">
        <ion-avatar item-start>
          <img [class]="unassignedTodo.className" />
        </ion-avatar>
        <h2>{{unassignedTodo.name}}</h2>
        <p>{{unassignedTodo.due}}</p>
        <!--<ion-note item-end *ngIf="item.note">{{item.note}}</ion-note>-->
      </button>

      <ion-item-options>
        <!--<button ion-button color="danger" (click)="deleteItem(item)">-->
        <!--  {{ 'DELETE_BUTTON' | translate }}-->
        <!--</button>-->
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>
</ion-content>
